<header>
  <nav>
    <ul class = "nav nav-pills">
      <li class = "nav-item"></li><a href="{{ url_for('index') }}" class="nav-link {% if index %} active {% endif %}">Home</a></li>
      <li class = "nav-item"></li><a href="{{ url_for('roman') }}" class="nav-link {% if romannumerals %} active {% endif %}">Roman Numerals</a></li>
      <li class = "nav-item"></li><a href="{{ url_for('cutrock') }}" class="nav-link {% if cutrock %} active {% endif %}">PSRLS</a></li>
      <li class = "nav-item"></li><a href="{{ url_for('isomorph') }}" class="nav-link {% if isomorphs %} active {% endif %}">Isomorphic Pairs</a></li>

    </ul>
  </nav>
  <hr style="clear:both">
</header>







  </nav>
    <meta charset="UTF-8">
    <title>Title</title>
</header>
<body>

</body>
</html>
