<header>
  <nav>
    <ul class = "nav nav-pills">
      <li class = "nav-item"></li><a href="{{ url_for('index') }}" class="nav-link {% if index %} active {% endif %}">Home</a></li>
      <li class = "nav-item"></li><a href="{{ url_for('songs') }}" class="nav-link {% if songs %} active {% endif %}">Songs</a></li>
      <li>This is the nav!</li>
      <li>This is the nav!</li>
      <li>This is the nav!</li>
    </ul>
  </nav>
  <hr style="clear:both">
</header>







  </nav>
    <meta charset="UTF-8">
    <title>Title</title>
</header>
<body>

</body>
</html>
