{% extends "layout.html" %}

    {% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="" method="post" novalidate>
                <fieldset class="form-group">
                    <legend>{{title}}</legend>
                {{ form.hidden_tag() }}
                <p>
                  {{ form.AddScore1() }}
                    {{ form.AddPoint1() }}
                    Score For Team 1: {{ team1_score }}
                </p>
                    <p>
                  {{ form.AddScore2() }}
                    Score For Team 2: {{ team2_score }}
                </p>
                <p>
                    {{ form.ResetScore() }}


                </p>

                    </fieldset>
            </form>
        </div>
    </div>
 {% endblock %}

