 {% extends "layout.html" %}
   
    {% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="" method="post" novalidate>
                <fieldset class="form-group">
                    <legend>{{title}}</legend>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.eq.label }} <br>
                    {{ form.eq(size = 100) }}
                    {% for error in form.eq.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}

                </p>
                <p>
                    {{ form.submit() }}


                </p>

                    <p>
                        {% if equation %}
                        The Answer to {{equation}} is {{answer}}
                        {% endif %}
                    </p>
                    </fieldset>
            </form>
        </div>
    </div>
 {% endblock %}
