{% extends "layout.html" %}
{% block content %}
<h1>Course Offerings</h1>
{# <!--Display the term and year here--> #}
<h3>Term: {{year}}</h3>
<div>
    <table class = "table table-hover">
        <thead>
        <tr>
            <th scope = "col">Course ID</th>
            <th scope = "col">Title</th>
            <th scope = "col">Description</th>
            <th scope = "col">Credits</th>
            <th scope = "col">Term</th>
            <th scope = "col">Enrolls</th>
        </tr>
        </thead>
        <tbody>
        {% for data in courseData %}
        <tr>
            <td scope = 'row'>{{ data["course_id"] }}</td>
            <td>{{ data["title"] }}</td>
            <td>{{ data["description"] }}</td>
            <td>{{ data["credits"] }}</td>
            <td>{{ data["term"] }}</td>
            <td>
                <form action="{{ url_for('enrolment') }}" method = "POST">
                    <input type="hidden" name="courseID" value="{{ data['course_id'] }}">
                    <input type="hidden" name="title" value="{{ data['title'] }}">
                    <input type="hidden" name="term" value="{{ data['term'] }}">
                <button>Enroll</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
