 {% extends "layout.html" %}

    {% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="" method="post" novalidate>
                <fieldset class="form-group">
                    <legend>{{title}}</legend>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.guess.label }} <br>
                    {{ form.guess(size = 100) }}
                    {% for error in form.guess.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}

                </p>
                    {% if death == False %}
                <p>
                    {{ form.submit() }}


                </p>

                    <p>
                            {% if finalstring %}
                            {{finalstring}} <br>
                        <br> You have {{ lives }} lives left.
                            {{ form.reset(class_='error-message') }}
                            {% endif %}
                        {% else %}
                        <p class="error-message"> You have lost Hangman. </p> <br>
                        {{ form.reset(class_='error-message') }}
                        {% endif %}

                    </p>
                    </fieldset>
            </form>
        </div>
    </div>
 {% endblock %}
