    {% extends "layout.html" %}
    {% block content %}
    <h1>{% block title %}  {% endblock %}</h1>
    <p>
    {% if session['id'] %}
    <a class="user">Logged in as: {{ session['name'] }}</a>
    {% endif %}
        <form name="leaderboard" action="" method="post" novalidate>

        <fieldset class="form-group">
        {{ form.hidden_tag()}}
        {{ form.csrf_token }}
                    {{ form.area.label }}
                    {{ form.area(size1 = 1) }}
                    {% for error in form.area.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}


                    {{ form.house.label }}
                    {{ form.house(size = 1) }}
                    {% for error in form.house.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    {{ form.tutor.label }}
                    {{ form.tutor(size = 1) }}
                    {% for error in form.tutor.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}


                    {{ form.display.label }}
                    {{ form.display(size = 1) }}
                    {% for error in form.display.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    {{ form.order.label }}
                    {{ form.order(size1 = 1) }}
                    {% for error in form.order.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    {{ form.date1.label }}
                    {{ form.date1 }}
                    {% for error in form.date1.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}

                    {{ form.date2.label }}
                    {{ form.date2 }}
                    {% for error in form.date2.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}


                    {{ form.filter() }}
                    {% for error in form.filter.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                    {{ form.reset() }}
                    {% for error in form.reset.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
            </fieldset>
        </form>
    </p>
    <table class = "table table-hover table-striped">
        <thead>
        <tr>
            {% for i in range(nameList|length) %}
            <th><h3>{{nameList[i]}}</h3></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for area in leaderboard %}
        <tr>
            {% for i in range(area|length) %}
            <td>{{area[i]}}</td>
        {% endfor %}
        {% endfor %}
        </tr>
        </tbody>
    </table>

    </div>
</div>
    {% endblock %}
</body>
</html>
