
    {% extends "layout.html" %}
   
    {% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
        <form name="login" action="" method="post" novalidate>
            <fieldset class="form-group login">
                    <legend><h1>{{title}}</h1></legend>
                <br>
                {{ form.hidden_tag() }}
                <p>
                {% if type == "Login" %}
                    {{ form.email.label }}<br>
                    {{ form.email(size=30) }}
                    {% for error in form.email.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=30) }}
                    {% for error in form.password.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}

                </p>
                <p>
                    {{ form.submit(class_='btn btn-animate') }}

                </p>
                <p>
                    {{ form2.register(class_='btn btn-animate') }}

                </p>
                {% endif %}
                {% if type == "Role" %}
                <p>
                        {{ form.student.label }} <br>
                        {{ form.student(class_='btn  btn-animate') }}
                        {% for error in form.student.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                </p>
                <p>
                        {{ form.staff.label }} <br>
                        {{ form.staff(class_='btn btn-animate') }}
                        {% for error in form.staff.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                </p>
                {% endif %}
                {% if type == "Student" %}
                    <p>
                        {{ form.first_name.label }} <br>
                        {{ form.first_name(size = 35) }}
                        {% for error in form.first_name.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    <p>
                    <p>
                        {{ form.last_name.label }} <br>
                        {{ form.last_name(size = 35) }}
                        {% for error in form.last_name.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                    <p>
                        {{ form.email.label }} <br>
                        {{ form.email(size = 35) }}
                        {% for error in form.email.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                    <p>
                        {{ form.password.label }} <br>
                        {{ form.password(size = 15) }}
                        {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                    <p>
                        {{ form.password_confirm.label }} <br>
                        {{ form.password_confirm(size = 15) }}
                        {% for error in form.password_confirm.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                    <p>
                        {{ form.house.label }}
                        {{ form.house(size = 1) }}
                        {% for error in form.house.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.tutor.label }}
                        {{ form.tutor(size = 1) }}
                        {% for error in form.tutor.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.year.label }}
                        {{ form.year(size = 1) }}
                        {% for error in form.year.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.submit(class_='btn btn-animate') }}
                        {% for error in form.submit.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                {% endif %}
                {% if type == "Staff" %}
                    <p>
                        {{ form.first_name.label }} <br>
                        {{ form.first_name(size = 35) }}
                        {% for error in form.first_name.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    <p>
                    <p>
                        {{ form.last_name.label }} <br>
                        {{ form.last_name(size = 35) }}
                        {% for error in form.last_name.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                    <p>
                        {{ form.email.label }} <br>
                        {{ form.email(size = 35) }}
                        {% for error in form.email.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                    <p>
                        {{ form.password.label }} <br>
                        {{ form.password(size = 15) }}
                        {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                    <p>
                        {{ form.password_confirm.label }} <br>
                        {{ form.password_confirm(size = 15) }}
                        {% for error in form.password_confirm.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                    <p>
                        {{ form.house.label }}
                        {{ form.house(size = 1) }}
                        {% for error in form.house.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.tutor.label }}
                        {{ form.tutor(size = 1) }}
                        {% for error in form.tutor.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.staffcode.label }} <br>
                        {{ form.staffcode(size = 1) }}
                        {% for error in form.staffcode.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form.submit(class_='btn btn-animate') }}
                        {% for error in form.submit.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}

                    </p>
                {% endif %}
                    </fieldset>
        </form>
    </div>
    </div>
    {% endblock %}
