    {% extends "layout.html" %}
    {% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            {% for user in users %}
            <dl>
                <dt>User ID: {{ user.user_ID}}</dt>
                <dd>first name {{user.first_name}}</dd>
                <dd>last name {{user.last_name}}</dd>
                <dd>email {{user.email}}</dd>
                <dd>password  {{user.password}}</dd>
            </dl>
            {% else %}
            <h3>No users yet!</h3>
            {% endfor %}

            </div>
    </div>
</div>
    {% endblock %}
{% include "includes/footer.html" %}
</body>
</html>
