{% extends "layout.html" %}
{% block content %}
    <!--List all of the users that exist around here and then put them in a really nice box that m ke ssure that they know exactly who is who and then connect them toether in an efficient an dmoving way-->
<form name="joined" action="" method="post" novalidate>

<table class="table table-sm">
        <thead> <h3>Events: </h3>
            <tr>
                <th scope="col"> Location</th>
                <th scope="col"> Description</th>
                <th scope="col"> Date</th>
                <th scope="col"> Start Time</th>
                <th scope="col"> End Time </th>
                <th scope="col"> Host</th>
                    <th></th><th></th>
            </tr>
        </thead>
        <tbody>
        {% for event in eventlist %}
            <tr>
                <td scope="row"> {{ event[1] }}  </td>
                <td> {{ event[3] }}  </td>
                <td> {{ event[6] }}  </td>
                <td> {{ event[7] }}  </td>
                <td> {{ event[8] }}  </td>
                <td> {{ event[10] }} {{ event[11] }} </td>
                <td><a href="{{ url_for('open_event', id=event[0]) }}">Select Songs </a> </td>
                <td><a href="{{ url_for('select_event', id=event[0]) }}">Check Songs </a> </td>
                <td> {{ event[12] }} </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
{% endblock %}
