<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
    <title>HEY! This is the layout header</title>
</head>
{% include "includes/nav.html" %}
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{category}}">
              <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
This is before block! <br>
{% block content %}
{% endblock %}
<br>
after rest!
</body>
</html>
