    {% extends "layout.html" %}
    {% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Lucas' Super Fun Awesome Page</h1>
            {% if session['user_id'] %}
            <h3>Let's get started.</h3>
            {% else %}
            {% endif %}
            <div style="text-align-left;">
                <br><br>
                <div class="text-box">
    <a href="#" class="btn btn-white btn-animate"><img alt="A Header bar image of a lizard" src="{{ url_for('static',filename='images/lizard.png') }}"></a>
</div>
               <div class="section1"> <img alt="People loving lie" src="{{ url_for('static',filename='images/fun.jpg') }}"> </div>

            </div>
            </div>
    </div>
</div>
    {% endblock %}
{% include "includes/footer.html" %}
</body>
</html>
    <!--And or for the search function potentially?-->
<!-- Realistically due to API limitations, only a search function forzzzzzz-->
